.search {
    width: 20%;
}

.button1{
    background-color: #FD693E !important;
    outline-color:  #FD693E !important;
    border-color:  #FD693E !important;
}

.button1:hover{
    background-color: #FD693E !important;
    outline-color:  #FD693E !important;
    border-color:  #FD693E!important;
}

.button1:focus{
    box-shadow: none !important;
}

.card{
    background-color: #FD693E !important;
    outline-color:  #FD693E !important;
    border-color:  #FD693E !important;
    color: white;
}

.closeButton{
    border: none !important;
    background-color: none !important;
    outline-color:  none !important;
    border-color:  none !important;
}

.closeButton::after{
    background-color: none !important;
    border-color:  none !important;
}

.closeButton:focus{
    border: none !important;
    outline: none !important;
}

.closeButton:hover{
    background-color: none !important;
    outline-color:  none !important;
    border-color:  none !important;
}

.container{
    padding: 2%;
    background-color: white;
}