.tbl{
    width: 30%;
    max-width: 30%;
}
.x{
    margin: 20px;
}
.test{
    width:85%;
    margin-left: 5%;
    margin-right: 5%;
}
#content{
    margin: 10px;
}
#highlighted{
    color: coral;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:20px;
}
#highlighted2{
    color: coral;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size:12px;
}
#highlighted3{
    color: coral;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 7px;
}
#card-preview{
    width: 85%;
    margin: 10px;
}
#preview{
}
#nameDesc{
    color: coral;
    font-size: 15px;
    font-weight: bold;
}
#nameDesc2{
    color: midnightblue;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
}
#nameFill{
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
}
#stat{
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
    align-content: center;
    alignment: center;
    align-self: center;
}
#title{
    margin-bottom: 1px;
}
#title2{
    margin-bottom: 1px;
}
.search{
    margin-left: 70%;
    margin-bottom: 5px;
    width: 30%;
    max-width: 30%;
}